@import '../../styles/common.scss';

#about {
	p {
        max-width: 30vw;
        margin-bottom: 30px;
        @media (max-width: $medium-device) {
            max-width: 200px;
        }
	}
	a {
		color: inherit;
		margin: 15px;
	}

	h1 {
		color: white;
		width: 100vw;
		background: linear-gradient(to right, #333, #222, #22222222, #11111100);
	}
}
